#UFfigCON  .jsavcanvas{
  height: 360px;
}

#UFconcomCON {
  height: 250px;
}

/* Hack until vertical array width is fixed */
#ufCON .jsavverticalarray {
  width: 40px !important;
}

#ufCON .jsavcode{
  margin-top: 20px;
  margin-left: 50px;
  width: 520px;
}

#pathcompCON {
  height: 455px;
}

#pathcompCON .jsavoutput.jsavline {
  height: 60px;
}
